*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
transition: 0.2s linear;
}
body{
    background-color: #33333E;
    color: white;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #202024;
    color: #ffff;
    font-weight: 500;
    z-index: 2;
    user-select: none;
    
}
header .container{
    display: flex;
    align-items: center;
    height: 70px;
    /* flex-wrap: wrap; */
}
.container{
    width: 80%;
    margin: auto;
}
header img{
    width: 80px ;
}
header ul{
    display: inline-block;
    text-align: center;
    width: calc(70% - 70px);
}
header li{
    display: inline;
    list-style: none;
    align-content: center;
    margin: 12px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;

}
.menu-bar{
    display: none;
    cursor: pointer;
    margin: auto;
}
header .menu-bar .open ,header .menu-bar .close{
    display: none;
    fill: white;
}
.home {
 width: 80%;
 margin: auto;
}
.home h1{
    font-size: 32px;
    text-align: left;
    margin: 8px;
    padding-bottom: 10px;
}

.lyrcontainer h1{
    padding: 15px;
    line-height: 1;
    color: rgb(70, 126, 126);
    width: 100%;
  }
  .lyrcontainer{
      /* flex-wrap: wrap; */
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
  }
  .lyrcontainer p{
    font-size: 20px;
  }
  .card{
      border: 1px solid gray;
      width: 30%;
      min-height: 200px;
      height: auto;
      margin: 12px;
      word-wrap: break-word;
  }
.footer{
    width: 100%;
    height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: rgb(17, 16, 16);
    position: fixed;
    bottom: 0px;
}
.footer svg{
    height: 30px;
   font-size: 30px;
   /* align-items: center; */
   fill: white;
   margin: 6px;
   cursor: pointer;
}
.footer .fb-icon:hover{
    transition: 0.1s;
    fill: blue;
}
.footer .insta-icon:hover{
    transition: 0.1s;
    fill: orangered;
}
.footer .tw-icon:hover{
    transition: 0.1s;
    fill: skyblue;
}
/* new css */


.track{
    display: flex;
    margin: auto;
    padding: 8px;
    border-bottom: 3px solid #202024;
    cursor: pointer;
}
.track:hover{
    background-color: #202024;
}
.track img{
    width: 70px;
    height: 70px;
}
.trc-containet{
    display: flex;
    width: calc(100% - 70px);
    padding: 10px;
    height: 70px;
    align-items: center;

}
.trc-containet h3{
    display: block;
    color: #B5C7D8;
    font-size: 16px;
    width: 40%;
}
.trc-containet p{
    /* color: #bbbb; */
    font-weight: 500;
    padding: 4px;
    color: #B5C7D8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 40%;
}
.trc-containet a{
   justify-self: flex-end;
    text-decoration: none;
    font-size: 16px;
    color: #22C0B6;
    font-weight: 550;
    padding: 4px;
    margin-top: 8px;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .menu-bar,header .menu-bar .open{
        display: block;
    }
  
    header ul{
        display: block;
        width: 0px;
        overflow: hidden;
        position: absolute;
        top: 70px;
        line-height: 1;
        height: 100vh;
        background-color: #202024 ;
    }
    header ul.active{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    ul li{
        display:block;
        font-size: 25px;
        border-radius: 5px;
        text-align: center;
    }
    li:hover{
        background-color: #fff;
        color: #202024;
    }
    input{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    
    header .menu-bar.\.active .open, header .menu-bar .close{
        display: none;
    }
    header .menu-bar.\.active .close, header .menu-bar .open{
        display: block;
    }
    .home{
        width: 95%;
    }
    .trc-containet{
        display: inline-block;
        height: auto;
    }
    .trc-containet p{
        width: 100%;
        overflow: hidden;
    }
    .trc-containet h3{
        width: 100%;
    }
  }